.auth-background {
    background-image: url("/src/assets/auth_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .auth-title {
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  .auth-card {
    background: #081821;
    padding: 40px;
    border-radius: 16px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  }
  
  
  .auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  .auth-form input {
    width: 100%;
    padding: 12px;
    background: #0e2430;
    border: 1px solid #203a44;
    border-radius: 4px;
    color: white;
    outline: none;
  }
  
  .auth-form input:focus {
    border-color: #e50914;
  }
  
  
  .auth-button {
    background: #e50914;
    border: none;
    padding: 12px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background: #f6121d;
  }
  
  
  .divider {
    color: #b3b3b3;
    margin: 18px 0 6px;
    font-weight: 500;
  }
  
  
  .register-button {
    background: transparent;
    border: 2px solid #e50914;
    padding: 10px 20px;
    color: #e50914;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .register-button:hover {
    background: #e50914;
    color: white;
  }
  
  
  .error {
    color: #ff6b6b;
    margin-top: 10px;
    font-size: 0.9rem;
  }


.helper-text {
    color: white;
    margin-top: 10px;
    font-size: 0.95rem;
  }
  
  .secondary-button {
    background: transparent;
    border: 2px solid #e50914;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .secondary-button:hover {
    background: #e50914;
    color: white;
  }
  